# Variables de entorno (Seguridad)
.env
.env.*

# Archivos temporales del sistema y ofimática
*.tmp
~$*.docx
~$*.xlsx

# Dependencias de Node
node_modules/

# Reportes y salidas de Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
